// body {
// 	padding-top: 60px;
// 	padding-bottom: 100px;
// }

section {
	border-bottom: 2px solid $color-secondary;
	background: url("../images/sprites/png/background.png") center center no-repeat;
	background-size: cover;
}

.about-me {
	position: relative;
	padding-top: 24px;
	padding-bottom: 31px;

	&__photo img {
		margin-top: 6px;
		width: 100%;
		object-fit: contain;
	}

	&__approved {
		position: absolute;
		top: 74px;
		right: 5px;
	}
}

.skills {
	padding-top: 32px;
	padding-bottom: 0px;

	&__header {
		margin-bottom: 24px;
	}

	&__checkbox {
		margin-bottom: 46px;
	}
}

.javascript {
	padding-top: 62px;
	padding-bottom: 70px;
	text-align: center;

	&__wrapper {
		position: relative;
		height: 150px;
	}

	&__scale,
	&__arrow {
		position: absolute;
	}

	&__scale {
		top: 0;
		left: calc(50% - 127px);
	}

	&__arrow {
		top: 72px;
		left: calc(50% - 56px);
		transform: rotate(0deg);
		transition: 1s;
	}

	&__header {
		margin-bottom: 10px;
	}
}

@media (min-width: 660px) {
	body {
		padding-top: 60px;
		padding-bottom: 100px;
	}

	.javascript {
		text-align-last: left;
	}
}

@media (max-width: 500px) and (orientation: portrait) {
	.about-me__approved {
		top: 374px;
	}
}

