section.about-me.row
	.about-me__photo.column.small-8.medium-2
		img(src="images/sprites/png/photo.png" alt="Фотография")
	.about-me__data.column
		p Евгений
		p 19 марта 1987 год
		p Ставрополь
		p +7(968)271-9609
	.about-me__approved
		img(src="images/sprites/png/approved.png" alt="Одобренно")
section.skills.row
	.skills__header.column.small-8
		h2 Навыки
	.skills__column.column.small-4.medium-2
		.skills__checkbox
			input.checkbox#checkbox-html(type="checkbox" checked)
			label(for="checkbox-html") HTML5
		.skills__checkbox
			input.checkbox#checkbox-css(type="checkbox" checked)
			label(for="checkbox-css") CSS3
		.skills__checkbox
			input.checkbox#checkbox-bem(type="checkbox" checked)
			label(for="checkbox-bem") БЭМ
	.skill__column.column.small-4.medium-2
		.skills__checkbox
			input.checkbox#checkbox-sass(type="checkbox" checked)
			label(for="checkbox-sass") SASS
		.skills__checkbox
			input.checkbox#checkbox-less(type="checkbox" checked)
			label(for="checkbox-less") LESS
		.skills__checkbox
			input.checkbox#checkbox-gulp(type="checkbox" checked)
			label(for="checkbox-gulp") GULP
	.skill__column.column.small-4.medium-2
		.skills__checkbox
			input.checkbox#checkbox-vanillajs(type="checkbox" checked)
			label(for="checkbox-vanillajs") VANILLAJS
		.skills__checkbox
			input.checkbox#checkbox-angular(type="checkbox")
			label(for="checkbox-angular") ANGULAR
		.skills__checkbox
			input.checkbox#checkbox-jquery(type="checkbox" checked)
			label(for="checkbox-jquery") JQUERY
	.skill__column.column.small-4.medium-2
		.skills__checkbox
			input.checkbox#checkbox-git(type="checkbox" checked)
			label(for="checkbox-git") GIT
		.skills__checkbox
			input.checkbox#checkbox-foundation(type="checkbox")
			label(for="checkbox-foundation") FOUNDATION
		.skills__checkbox
			input.checkbox#checkbox-bootstrap(type="checkbox" checked)
			label(for="checkbox-bootstrap") BOOTSTRAP
section.javascript.row
	.javascript__column.column.small-8.medium-4
		.javascript__wrapper
			img.javascript__scale(src="images/sprites/svg/scale.svg", alt="Шкала")
			img.javascript__arrow(src="images/sprites/svg/scale-arrow.svg", alt="Стрелка")
	.javascript__column.column.small-8.medium-4
		.javascript__header
			h2 Мой уровень владения
				br
				| Java Script
		.javascript__number
				h3(data-number="0") 0
