// stylelint-disable scss/dollar-variable-empty-line-before

// COLORS

$color-black: #000;
$color-white: #fff;
$color-primary: #010101;
$color-secondary: #f0f0f0;
$color-text: #666;
$color-special: #0093d7;
$color-border: #333;

// FONTS

$font-family-roboto: "Roboto", sans-serif;
